<!DOCTYPE html>
<html>
  <head>
    <title> {{ page.title }} </title>

    <!-- META -->
    <meta name="viewport" content="width=device-width, user-scalable=0" />

    <!-- CSS -->
    <link href="assets/css/vendor/normalize.8.0.0.min.css" rel="stylesheet" />
    <link <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <link href="assets/css/vendor/gridlex.2.7.1.min.css" rel="stylesheet" />
    <link href="/assets/css/main.css" rel="stylesheet" />

  </head>

  <body>

        <header class="grid-noGutter fixed">
            <nav class="col-4 logo"><a href="../index.html">with sez.</a></nav>
            <nav class="col-8 grid">
                <a class="col-4" href="../photo.html">photography</a>
                <a class="col-4" href="../webdev.html">web development</a>
                <a class="col-4 coral-colour" href="../connect.html">contact</a>
            </nav>
        </header>

              {{content}}

        <footer class="grid coral-bg">
            <div class="col-8">
              my media kit <br>my quotes<br>my
            </div>
            <div class="grid col-4">
              <nav class="col-12">
                <a class="icon col-4" href="https://www.instagram.com/sarahfenton_/"><i class="fab fa-instagram"></i></a>
              </nav>
            </div>
        </footer>

    <!-- WhatsHelp.io widget -->
<script type="text/javascript">
    (function () {
        var options = {
            whatsapp: "+61 447604500", //
            email: "sezfenton@icloud.com", //
            company_logo_url: "//static.whatshelp.io/img/flag.png", // URL of company logo (png, jpg, gif)
            greeting_message: "Hello, how may we help you? Just send us a message now to get assistance.", // Text of greeting message
            call_to_action: "Message us",
            button_color: "#FC7753",
            position: "right",
            order: "whatsapp,email", // Order of buttons
        };
        var proto = document.location.protocol, host = "whatshelp.io", url = proto + "//static." + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();
</script>
<!-- /WhatsHelp.io widget -->
    <!-- JAVASCRIPT --->
    <script src="assets/js/vendor/jquery.3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sticky-kit/1.1.3/sticky-kit.min.js"></script>
    <script src="assets/js/main.js"></script>

  </body>
</html>
